body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1a1522;
  }
  
  header {
    background-color: #1a161f;
    padding: 20px;
    color: #fff;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #8c5aa0;
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background: linear-gradient(to right, #4d315f, #1e1127);
  }
  
  .hero-content h2 {
    font-size: 2.5rem;
    color: #fff;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    color: #fff;
    margin: 20px 0;
  }
  
  .hero-image img {
    max-width: 170px;
    color: white;
  }
  
  .cta-button {
    background-color: #1a161f;
    color: #fff;
    padding: 12px 24px;
    border: none;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #2a1442;
  }
  
  .features {
    padding: 60px;
    background-color: #f4f4f4;
  }
  
  .features h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .features h4{
    color: #4d315f;
  }
  
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .feature-item {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .feature-item:hover {
    transform: translateY(-10px);
  }
  
  .pricing {
    padding: 60px;
    text-align: center;
    background: linear-gradient(to right, #4d315f, #1e1127);
  }
  
  .pricing h3 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .bioplastic, img {
    padding: 20px;
    color: white;
  }
  .figcaption{
    color: white;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #1a161f;
    color: #fff;
    font-size: 0.9rem;
  }